<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            background-color: rgb(58, 179, 245);
            padding: 5px 10px 5px 10px;

        }
        *{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="ai-content">
        
        <h1 class="heading">Text Decription AI System</h1>
        <div class="form">
            <form method="post" action="/submit">

                <textarea name="desc" cols="40" rows="10" id="des">  </textarea>
                <br><br>
                <button type="submit"> click here to submit </button>

            </form>
        </div>
    </div>

</body>
</html>